<h1>Welcome to Turbo Fiesta please log in below </h1><br>

<form action="/login" method="post">

  <label for="username">Username<input type="text" name="username" id="username"</label><br>

  <label for="password">Password<input type="password" name="password" id="password"></label><br>

  <input type="submit" name="submit" id="submit">

</form>


<br>

<a href="/signup">If you don't have an account please sign up here.</a>
