<h1>Create a new Joke</h1>

<form action="/jokes" method="post">
  <label>Name of Joke<input type="text" name="Name of Joke" id="Name_of_Joke"</label>

  <label>Joke description<input type="text" name="Joke description" id="Joke_description"</label>

  <label>Is Joke complete?<input type="checkbox" name="Complete:" value="false" id="Is_Joke_complete?"</label>


  <input type="submit" name="submit" value="Create Joke">
</form>
